/*   Généralités sur le corps et le header  */





/* Réinitialisation des marges et définition de la police par défaut */


/* Style du header */
header {
    background-color: #171853; 
    padding: 0;
    box-shadow: 0 2px 4px rgb(3, 0, 0); 
    margin : 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: Arial, sans-serif;
    
}







/* Style de la navigation (nav) et de la liste principale (ul) */






/* Suppression des puces, marges et paddings par défaut */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Disposition en ligne des éléments de la liste principale */
nav > ul {
    display: flex;
    justify-content: center;
}

/* Style des éléments de la liste principale (li) */
nav ul li {
    display: block;
    position: relative;
}




/*  Style des liens (a)  */





/* Style des liens principaux */
nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: rgb(252, 252, 252);
    transition: background-color 0.3s;
}

/* Style des liens au survol */
nav ul li a:hover {
    background-color: #6c6ad6; 
}




/* Style du sous-menu (Menu Déroulant)*/




/* Cacher le sous-menu par défaut */
nav ul ul {
    display: none;
    position: absolute; 
    top: 100%; 
    background-color: #f4f6f7; 
    min-width: 220px; 
    z-index: 1000; 
    text-align: left;
}

/* Affichage du sous-menu au survol */
nav ul li:hover > ul {
    display: block;
}

/* Style des éléments du sous-menu */
nav ul ul li {
    width: 100%; 
    border-top: 1px solid #000000; 
}

/* Suppression de la bordure supérieure du premier élément du sous-menu */
nav ul ul li:first-child {
    border-top: none; 
}

/* Style des liens du sous-menu */
nav ul ul li a {
    padding: 10px 15px; 
    color: #111335; 
}

/* Style des liens du sous-menu au survol */
nav ul ul li a:hover {
    background-color: #007bff; 
    color: white;
}