# Dépendances
node_modules/
dist/

# Prisma & Base de données
# On ignore la base SQLite locale pour ne pas écraser celle des autres
dev.db
dev.db-journal
/prisma/migrations/

# Variables d'environnement (Sécurité !)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système
.DS_Store
Thumbs.db
/generated/prisma
